.accordion {
  background-color: $color-white;
}

.accordion__acord {
  position: relative;
  overflow: hidden;
}

.accordion .accordion__acord label {
  position: relative;
  display: block;
}


.accordion .accordion__acord input {
  display: none;
}

.accordion .content {
  position: relative;
  overflow: hidden;
  transition: height 1s linear 0s;
  height: 0;
  font-size: 14px;
  line-height: 22px;
  color: #e4e4e4;
  text-align: center;
}

.accordion [type="checkbox"]:checked ~ div {
  height: 70px;
  padding: 10px;
}

