.button {
  font-family: $font-family;
  cursor: pointer;
  padding: 22px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;

  &--primary {
    color: $color-white;
    background-color: transparent;
    border: 2px solid $color-white;

    @media (min-width: $tablet-width) {
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px;
    }
  }

  &--light {
    color: $color-basic;
    border: 2px solid $color-basic;
    padding: 26px 20px 24px;
  }

  &:hover {
    color: $text-accent;
    background-color: $color-white;
  }

  &:focus {
    color: $text-accent;
    background-color: rgba($color-white, 0.8);
    border: 2px solid #000000;
    outline: none;
  }

  &:active {
    color: $color-basic;
    background-color: $color-white;
    outline: none;
    border: 2px solid $color-white;
  }

  &:disabled {
    opacity: 0.5;
  }
}
