.faq {
  padding: 70px 0 50px;
  background-color: $bg-extra;

  @media (min-width: $tablet-width) {
    padding: 61px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 98px;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    max-width: 1160px;
    margin: 0 auto;
  }
}
