.footer {
  background-color: $bg-footer;
  padding: 40px 15px 35px;
  display: flex;
  flex-direction: column;
  gap: 29px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 45px 45px 39px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 103px 35px;
  }
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px 33px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 18px 29px;
  }

  @media (min-width: $desktop-width) {
    gap: 18px 82px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  padding: 10px 0;
  border: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-white;
  }

  &:focus {
    border: 1px solid $color-white;
    outline: none;
  }

  &:active {
    color: $color-white;
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}

.footer__list-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.footer__social-link {
  display: flex;
  width: 25px;
  height: 25px;
  color: $bg-footer;
  background-color: $color-white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $button-border;
    color: $color-white;
  }

  &:focus {
    background-color: $text-accent;
    color: $color-white;
    outline: none;
  }

  &:active {
    color: $color-basic;
    background-color: $text-accent;
  }

  &--disabled {
    color: $bg-footer;
    background-color: #c7cad2;
    cursor: default;
    pointer-events: none;
  }
}
