.juri {
  background-color: $color-white;
  position: relative;
  padding: 66px 15px 40px;

  @media (min-width: $tablet-width) {
    padding: 90px 15px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 200px 15px 100px;
  }
}

.juri__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
  }
}
