.price {
  padding: 41px 15px 40px;
  background-color: $bg-extra;

  @media (min-width: $tablet-width) {
    padding: 60px 194px;
    background-repeat: no-repeat;
    background-size: 408px 422px;
    background-position: calc(125% - 9px) calc(103% - 4px);
    background-image:
      image-set(url("../../img/price/pancakes-price.webp") 1x type("image/webp"),
      url("../../img/price/pancakes-price@2.webp") 2x type("image/webp"),
      url("../../img/price/pancakes-price.png") 1x type("image/png"),
      url("../../img/price/pancakes-price@2.png") 2x type("image/png"));
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
    margin: 0 auto;
    background-size: 487px 493px;
    background-position: calc(122% - 18px) calc(117% - 3px);
  }
}


.price__title {
  text-align: center;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.price__dropping {
  display: flex;
  flex-direction: column;
}

.price__dropping-panel {
  display: none;
  animation: fadein 0.8s;
}


.price__dropping-radio {
  display: none;
}

.price__dropping-radio--one:checked ~ .price__dropping-panels .price__dropping-panel--one,
.price__dropping-radio--two:checked ~ .price__dropping-panels .price__dropping-panel--two,
.price__dropping-radio--three:checked ~ .price__dropping-panels .price__dropping-panel--three {
  display: block;
}

.price__dropping-tabs {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -2px 0 0 rgb(120, 120, 120, 0.6) inset;
  margin-bottom: 30px;


  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto 45px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: 0 auto 40px;
  }
}

.price__dropping-tab {
  cursor: pointer;
  display: block;
  padding-bottom: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgba($color-basic, 0.5);
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 6px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
  }

  &:hover {
    color: rgba($color-basic, 0.7);
    border-bottom: 2px solid #787878;
  }

  &:focus-visible {
    color: $color-basic;
    border-bottom: 2px solid $color-basic;
    outline: none;
  }

  &:active {
    color: $color-basic;
    border-bottom: 2px solid $button-banners;
    outline: none;
  }
}

.price__dropping-radio--one:checked ~ .price__dropping-tabs .price__dropping-tab--one,
.price__dropping-radio--two:checked ~ .price__dropping-tabs .price__dropping-tab--two,
.price__dropping-radio--three:checked ~ .price__dropping-tabs .price__dropping-tab--three {
  color: $color-basic;
  border-bottom: 2px solid $button-banners;
  outline: none;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: $bg-extra;
  text-align: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.price__item {
  padding: 44px 35px 43px;
  background-color: $color-white;
  border: 7px solid transparent;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding: 58px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }

  &:hover {
    border: 7px solid transparent;
    border-image: $stroke;
    border-image-slice: 1;

    .button--light {
      border: 2px solid transparent;
      border-image: $button-gradient;
      border-image-slice: 1;
      color: $color-white;
      background: $button-gradient;
    }

    &:focus-visible {
      .button--light {
        color: $color-white;
        background: linear-gradient(97deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
        border: 2px solid #000000;
        outline: none;
      }
    }

    &:active {
      .button--light {
        border: 2px solid transparent;
        border-image: $button-gradient;
        border-image-slice: 1;
        color: $color-white;
        opacity: 0.6;
        outline: none;
        background: $button-gradient;
      }
    }
  }
}

.price__titled {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 18px;


  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 17px;
    min-width: 230px;
  }
}

.price__time {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.price__cost {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: $text-accent;
  margin: 0;
  padding-top: 46px;
  margin-bottom: 19px;
  position: relative;
  z-index: 1;
  gap: 10px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 22px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    gap: 15px;
    margin-bottom: 17px;
  }
}

.price__cost[data-shadow]::after {
  content: attr(data-shadow);
  position: absolute;
  top: 0;
  left: 20%;
  font-size: 80px;
  font-weight: 700;
  line-height: 150%;
  color: transparent;
  text-shadow: -20px 0 0 #e8e8e8;
  z-index: -1;

  @media (min-width: $tablet-width) {
    font-size: 100px;
    line-height: 150px;
    top: 2px;
    left: 44px;
  }

  @media (min-width: $desktop-width) {
    top: 50%;
    left: 50%;
    transform: translate(-81px, -75px);
  }
}

.price__icon {
  width: 24px;
  height: 33px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}

.price__rub {
  display: block;
  width: 24px;
  height: 33px;
  background: url("../__spritemap#sprite-rub-view");
  background-repeat: no-repeat;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}
