.swiper-button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    border: 1px solid $color-basic;
  }

  &:focus {
    background-color: #e8e8e8;
  }


  &:active {
    background-color: $color-basic;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    color: $color-basic;
    font-size: 33px;
  }
}

.swiper-button-next:active::after,
.swiper-button-prev:active::after {
  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.disabled {
  cursor: default;
  pointer-events: none;

  &::after {
    color: rgba($color-basic, 0.3);
  }

  &:hover {
    border: none;
  }
}
